@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --global-first: #021F31;
  --global-second: #007561;
  --global-third: #2F4858;
  
  font-family: "DM Sans", sans-serif !important;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@layer utilities{
  .nav{
    @apply inline-block mx-4 lg:mx-6 first:ml-0 last:mr-0 hover:text-main-color cursor-pointer text-xl
  }
}
.bg-gradient{
    background-color: transparent;
    background-image: linear-gradient(90deg, var(--global-first) 8%, var(--global-second) 100%);
}
.bg-button{
  background-image: linear-gradient(180deg, var(--global-third) 8%, var(--global-second) 100%);
}
.bg-button:hover{
  background-image: linear-gradient(180deg, var(--global-second) 0%, var(--global-third) 100%);
}
.grid-fit{
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.shadow{
  box-shadow: rgb(0 0 0 / 5%) 0px 4px 8px 0px;
}

.card-bg{
  background: linear-gradient(180deg, #FFC680 0%, rgba(214, 169, 97, 0) 100%);
  border-radius: 8.48485px
}

@media screen and (max-width: 640px){
  .grid-fit{
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  } 
}

.theme-loader::before, .theme-loader::after {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #070E27;
  position: absolute;
  animation: cssload-load 0.91s infinite alternate ease-in-out;
  -o-animation: cssload-load 0.91s infinite alternate ease-in-out;
  -ms-animation: cssload-load 0.91s infinite alternate ease-in-out;
  -webkit-animation: cssload-load 0.91s infinite alternate ease-in-out;
  -moz-animation: cssload-load 0.91s infinite alternate ease-in-out;
}


.theme-loader::after {
  bottom: 0;
}


.theme-loader {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  color: #070E27;
  letter-spacing: 0.2em;
  text-align: center;
  width: 244px;
  height: 49px;
  line-height: 49px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

#page-preloader{
  background: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
}

@keyframes cssload-load {
  0% {
    left: 0;
    height: 29px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 39px;
  }
  100% {
    left: 229px;
    height: 29px;
    width: 15px;
  }
  }
  
  @-o-keyframes cssload-load {
    0% {
      left: 0;
      height: 29px;
      width: 15px;
    }
    50% {
      height: 8px;
      width: 39px;
    }
    100% {
      left: 229px;
      height: 29px;
      width: 15px;
    }
  }
  
  @-ms-keyframes cssload-load {
  0% {
    left: 0;
    height: 29px;
    width: 15px;
  }
  50% {
    height: 8px;
    width: 39px;
  }
  100% {
    left: 229px;
    height: 29px;
    width: 15px;
  }
}
  
@-webkit-keyframes cssload-load {
    0% {
    left: 0;
    height: 29px;
    width: 15px;
    }
    50% {
    height: 8px;
    width: 39px;
    }
    100% {
    left: 229px;
    height: 29px;
    width: 15px;
    }
}
  
@-moz-keyframes cssload-load {
    0% {
      left: 0;
      height: 29px;
      width: 15px;
    }
    50% {
      height: 8px;
      width: 39px;
    }
    100% {
      left: 229px;
      height: 29px;
      width: 15px;
    }
}